<div data-ng-controller="QuestionnaireController" data-ng-init="init()" style="margin-top:0px;margin-bottom:20px;margin-left:0px;margin-right:0px;">


	<div class="row" style="border-style:solid;border-width:0px;">
		<div class="col-md-8">
			<h2 style="margin-top:0px;margin-bottom:20px;margin-left:0px;margin-right:0px;text-align: center;">
				{{questionnaire.group.title}}
			</h2>
			
			<div ng-bind-html-compile="questionnaireForm"></div>
		</div>

        <div class="col-md-4">
			<div class="sidebar-nav-fixed affix">
                    <ul class="list-group">
                        <li class="list-group-item">
                        	Selected Patient: {{' ' + selectedPatient.firstName + ' ' + selectedPatient.lastName + ' '}}
                        </li>
                        <li class="list-group-item">
                        	MRN #: {{' ' + selectedPatient.patientId.mrn + ' '}}
                        </li>
                        <li class="list-group-item">
                        	Encounter ID: {{' ' + selectedPatient.patientId.encounterId + ' '}}
                        </li>
                        <li class="list-group-item">
                        	Destination ID: {{' ' + selectedPatient.patientId.destinationId + ' '}}
                        </li>
                        <li class="list-group-item">
                        	<button class="btn btn-primary" type="submit" ng-click="submitForm()">
								Submit
							</button>
                        </li>
                        <li class="list-group-item">
							<button class="btn btn-default" ng-click="cancelForm()">
								Cancel
							</button>
                        </li>
                    </ul>
			</div>
		</div>

		
	</div>

    
		
</div>
