<div data-ng-controller="HomeController" data-ng-init="init()">

	<div class="row" style="margin-top:5px;margin-bottom:10px;margin-left:0px;margin-right:0px;">
		<div class="col-md-12">
			<h2 style="margin-top:0px;margin-bottom:20px;margin-left:0px;margin-right:0px;text-align: center;">
				Patient List
			</h2>
		</div>
	</div>

  	<table class="table table-striped table-bordered table-hover">
		<thead>
      		<tr>
        		<th>
          			<a href="#/" ng-click="orderByField='firstName'; reverseSort = !reverseSort">
         			 Patient Name <span ng-show="orderByField == 'firstName'"><span ng-show="!reverseSort"></span><span ng-show="reverseSort"></span></span>
         			 </a>
        		</th>
        		<th>
          			<a href="#/" ng-click="orderByField='days'; reverseSort = !reverseSort">
           			 Days Since Discharge <span ng-show="orderByField == 'days'"><span ng-show="!reverseSort"></span><span ng-show="reverseSort"></span></span>
          			</a>
       			 </th>
       			 <th>
          			<a href="#/">
         			 Questionnaire
         			 </a>
        		</th>
       		</tr>
       	</thead>
		<tbody>
		<tr ng-repeat="patient in patients | orderBy:orderByField:reverseSort" >
			<td>{{patient.firstName + ' ' + patient.lastName}}</td>
			<td>{{patient.days}}</td>
			<td>
				<div ng-repeat="questionnaire in patient.questionnaires">
					<div ng-init="eligible = questionChecker(patient.questionnaires, questionnaire)">
		       			<span ng-if="questionnaire.days < patient.days && questionnaire.isActive && eligible" >
							<a href ng-if="!questionnaire.answered" ng-click="viewQuestionnaire(patient, questionnaire)">
								<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
								{{questionnaire.title}}
							</a>
		       			</span>
						<span ng-show="questionnaire.answered" >
		       				{{questionnaire.title}}
	           				<a href ng-click="downloadQuestionnaireResponseCSV(patient, questionnaire.csv)" style="margin-right: 10px; margin-left: 10px;">
								<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
								CSV
							</a>
							<a href ng-click="downloadQuestionnaireResponseJSON(patient, questionnaire.json)" id="downloadAnchorElem">
								<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
								JSON
							</a>
		       			</span>
					</div>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
	
	<div class="col-md-12" ng-show="loading" style="text-align: center;">
	 	<img id="mySpinner" src="/images/loading.gif"  />
	</div>
	
	
</div>